#!/usr/bin/make -f

CFLAGS	+= -Wall -pedantic
LDFLAGS += -Wl,--as-needed

override_dh_auto_build:
	CFLAGS="$(CFLAGS)" LDFLAGS="$(LDFLAGS)" gcc -lbz2 -o bsdiff bsdiff.c
	CFLAGS="$(CFLAGS)" LDFLAGS="$(LDFLAGS)" gcc -lbz2 -o bspatch bspatch.c

%:
	dh $@

# End of file
